* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }


#banner{
    width: 100%;
}

.titulo-centralizado{
    text-align: center;

}

.principal{
    text-align: center;
    background-color: gray;
    padding: 30px;
}

.titulo-principal{
    padding-left: 20px;
}

em strong{
    color: wheat;
}

.itens{
    font-style: italic;
}

.beneficios{
    background-color: white;
    padding: 20px;
}

.lista-principal{
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
    padding-left: 40px;
}

.imagem-beneficios{
    width: 50%;
}

/*Produtos*/

.titulo-produtos{
    background-color: gray;
}

header.titulo-produtos {
    padding: 20px 0;
}

.caixa {
    position: relative;
    width: 940px;
    margin: 0 auto;
}

.nav-produtos {
    position: absolute;
    top: 110px;
    right: 0;
}

nav .li-produtos {
    display: inline;
    margin: 0 0 0 15px;
}

nav .link-produtos {
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}